<!-- Formulario para agregar deportes -->
<div class="container">
  <h1>{{title}}</h1>
  <div class="border rounded p-4">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Nombre</label>
  
        <div class="col-sm-10">
          <input id="nombre" type="text" class="form-control" name="nombre" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Precio</label>
  
        <div class="col-sm-10">
          <input id="precio" type="text" class="form-control" name="precio" />
        </div>
      </div>
<!-- Botón para agregar un nuevo deporte -->
      <button class="btn btn-info" onclick="agregar()">Agregar</button>
</div>
</div>

<!-- Tabla de deportes registrados -->
<h5 class="text-center my-4">{{titleLista}} </h5>
  <table class="table w-25 m-auto border">
    <thead>
      <tr>
        <th scope="col">index</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody id="cuerpo"></tbody>
  </table>
  
<script>
  $(document).ready(function () {
    getData()
    })

// Función para obtener los datos de deportes y actualizar la tabla
  function getData() {
    $('#cuerpo').html('')
    axios.get('/deportes').then((data) => {
        let deportes = data.data.deportes
        deportes.forEach((d, i) => {
          $('#cuerpo').append(`
          <tr>
            <th scope="row">${i + 1}</th>
            <td>${d.nombre}</td>
            <td>${d.precio}</td>
            <td>
              <button class="btn btn-warning d-inline" onclick='preEdit("${d.nombre}","${d.precio
            }")' data-toggle="modal" data-target="#exampleModal">Editar</button>
              <button class="btn btn-danger mt-3" onclick='eliminar("${d.nombre}")'>Eliminar</button>
            </td>
          </tr>
          `)
        })
      })
    }

// Función para prellenar los campos de edición en el modal 
  function preEdit(nombre, precio) {
  $('#nombreModal').val(nombre)
  $('#precioModal').val(precio)
  }

// Función para agregar un nuevo deporte  
  function agregar() {
  let nombre = $('#nombre').val();
  let precio = $('#precio').val();
  axios.post('/agregar', { nombre, precio })
  .then(response => {
  console.log(response.data); 
  getData();
  })
  .catch(error => {
  console.error('Error al agregar deporte:', error);
  });
  $('#exampleModal').modal('hide');
  }

// Función para editar un deporte existente  
  function edit() {
  let nombre = $('#nombreModal').val();
  let precio = $('#precioModal').val();
  axios.put('/editar', { nombre, precio })
  .then(response => {
  alert(response.data);
  getData();
  })
  .catch(error => {
  console.error('Error al editar deporte:', error);
  });
  $('#exampleModal').modal('hide');
  }

// Función para eliminar un deporte  
  function eliminar(nombre) {
  axios.delete(`/eliminar/${nombre}`).then((data) => { 
  getData();
  }).catch(error => {
  console.error('Error al eliminar deporte:', error);
  });
  $('#exampleModal').modal('hide');
  }
  </script>

<!-- Modal para editar deportes -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="rounded p-4 ">
          </form>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
              <input id="nombreModal" disabled type="text" class="form-control" name="nombre" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Precio</label>
            <div class="col-sm-10">
              <input id="precioModal" type="text" class="form-control" name="precio" />
            </div>
          </div>
           <!-- Botón para editar un deporte -->
          <button class="btn btn-warning d-inline mt-3" onclick="edit()">Editar</button>
        </div>
      </div>
    </div>
  </div>

</body>
</html>